body {
  margin: 0;
  padding: 0;
  font-family: "Ysabeau Infant", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
  overflow: hidden;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
}

dialog[type=splash] {
  background-image: url(Images/Splash.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash] img#FudgeStoryLogo {
  height: 2em;
  vertical-align: middle;
}

.start {
  position: absolute;
  background-color: #401d6b56;
  box-shadow: 0px 0px 150px 150px #401d6b56;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h1 {
  margin: 0 0 0.75em 0;
  font-family: "Water Brush", serif;
  font-size: 10em;
  font-weight: 400;
  line-height: 1em;
  text-shadow: 7px 5px 17px #18042e;
}

.start p {
  font-size: 2em;
  text-shadow: 4px 3px 10px #18042e;
  margin: 0 0 2em 0;
  opacity: 1;
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-weight: 600;
  font-style: italic;
}

.claim {
  position: absolute;
  bottom: 1em;
  text-shadow: 4px 3px 10px #18042e;
  right: 1em
}

@keyframes pulse {
  10% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  90% {
    opacity: 1;
  }
}

canvas {
  width: 100%;
  height: 100%;
}

scene {
  position: absolute;
}

speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgb(1 8 6 / 84%);
  width: 75%;
  height: 13%;
  margin-left: 50%;
  transform: translate(-50%);
}

name {
  position: absolute;
  top: -61px;
  font-weight: 400;
  font-size: 28px;
  padding: 10px 30px;
  background-color: rgb(1 8 6 / 84%);
  font-family: "Water Brush";
  min-width: 33.775px;
  min-height: 40.8px;
}

content {
  margin: 15px 30px;
  display: block;
  font-size: 18px;
}

#start {
  padding: 3em;
  min-width: 25%;
  max-width: 100%;
  background: #eeaeca20;
  border: 2px solid #eeaeca;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #94bbe9, #eeaeca);
  color: white;
  box-shadow: 0 0 20px 2px #eeaeca60;
}

#start>form {
  display: flex;
  flex-direction: column;
}

#start>form>label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

#start>form>label:not(:first-child) {
  margin-top: 1em;
  margin-bottom: 3em;
}

#start>form>label input,
#start>form>label select {
  padding: 8px 12px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: inherit;
  font-size: 16px;
  margin-top: 0.4em;
}

#start>form>label input::placeholder {
  color: #ffffff80;
}

#pronouns option {
  background-color: #1e161a;
  color: white;
}

#start>button {
  font-family: 'Ysabeau Infant';
  border: 1px solid white;
  border-radius: 0;
  background-color: transparent;
  color: white;
  padding: 8px 36px 10px;
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  transition-duration: .3s;
}

#start>button:hover {
  background-color: #eeaeca40;
}